@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      scroll-behavior: smooth;
   }
   body {
      @apply text-stone-800;
   }
}
@layer components {
   .container {
      @apply max-w-[95%] px-5 2xl:max-w-[90%]  2xl:px-24;
   }
   .sale-hero {
      background-image: url("/public/images/saleHero.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -150px;
      background-attachment: fixed;
   }
   .about-nav {
      @apply relative md:text-lg   hover:text-indigo-700;
   }
   .about-nav::before {
      content: "";
      @apply block absolute -top-3.5 left-0 w-0 h-[2px] bg-indigo-700 hover:w-full transition-all duration-300;
   }
   .advantage-item::after {
      content: "";
      @apply hidden md:block absolute top-[30%] -right-[25%] w-[40%] h-[2px] bg-stone-400 last:hidden;
   }
}
@layer utilities {
}
